
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

:root{
    --cor-de-fundo: #3F6C41;
    --verde: #6FFF57;
    --branco: #FFFFFF;
    --botao-ativo: rgba(203, 0, 0, 1);
    --botao-inativo:rgb(255, 0, 0);
    --texto-fundo: rgba(255, 0, 0);
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--branco);
    font-family: 'chakra petch' sans-serief;

}


.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    
}

.titulo-principal{
    text-align: left;
    width: 100%;
    font-size: 32px;

}

.titulo-principal span{
    color: var(--verde);
}

.botao{
    font-family: 'chakra petch', sans-serif;
    background-color: var(--botao-inativo);
    color: var(--branco);
    display: flex;
    justify-content: center;
    padding: 1em;
    font-size: 18px;
    align-items: center;
    width: 100%;
}